<div class="container">
  <div class="row">
    <div class="col-md-12 input-group">
      <input type="text" class="form-control" placeholder="Enter an address ..." #address>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="addFavoriteWithCheck(address.value)">Add to favorites!</button>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row" *ngFor="let elt of favorites">
    <div class="col-md-8">
      <p-checkbox [(ngModel)]="elt.active" binary="true" (click)="onEditStatus(elt.id, elt.active)"></p-checkbox>
      <b>{{ elt.address | uppercase }}</b>
    </div>
    <div class="col-md-4 text-right">
      <button pButton type="button" (click)="deleteFromFavorites(elt.id)" icon="fa-close" label="Delete"></button>
    </div>
    <br>
  </div>
</div>