<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="avbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"><a routerLink="/weather-list">How's the Weather</a></li>
        <li class="nav-item"><a routerLink="/weather-fav-address-list">Favorites</a></li>
        <li class="nav-item"><a routerLink="/quote-list">Financial Data</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Home</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" routerLink="/weather-list">How's the Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/weather-fav-address-list">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quote-list">Financial Data</a>
        </li>
      </ul>
    </div>
  </nav>