<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <i class="fa fa-home" aria-hidden="true"></i>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-umbrella" aria-hidden="true"></i> WEATHER
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/weather-list">
              <i class="fa fa-thermometer-full" aria-hidden="true"></i> How's the Weather ?</a>
            <a class="dropdown-item" routerLink="/weather-fav-address-list">
              <i class="fa fa-heart" aria-hidden="true"></i> Favorites</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i> NEWS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/news-sources-list">
              <i class="fa fa-rss" aria-hidden="true"></i> Sources</a>
            <a class="dropdown-item" routerLink="/news-articles-list">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i> Articles</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quote-list">
            <i class="fa fa-line-chart" aria-hidden="true"></i> FINANCE</a>
        </li>
      </ul>
    </div>
  </nav>
</div>