/* You can add global styles to this file, and also import other style files */

.row
{
    margin-top:15px;
}

.header-title-page
{
    margin-bottom:15px;
    text-transform: uppercase;
    cursor: default;
}

tr.table-header > th {
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #245fac;
}

.bg-info-custom {
    background-color: #60a5ff;
}


